.sidebar-container {
  width: 20vw;
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 260px;
  background-color: #00071A;
  position: fixed;
  color: #ffffff;
  z-index: 9;
}

.side-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: .5rem;
}

.mtLogo-side {
  width: 4.5rem;
  margin-right: .75rem;
}

.side-header h1 {
  display: inline-block;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: initial;
}

.side-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .35rem;
  padding-bottom: .35rem;
  width: 100%;
  transition: .25s ease-in-out;
  position: relative;
}


.side-link {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

.item-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 200px;
}

.item-group:hover {
  transform: scale(1.1);
  transition: .25s ease-in-out;
}

.item-icon {
  margin-right: .75rem;
}

.item-title {
  display: flex;
  align-items: center;
  height: 100%;
}

.side-link.active::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 5px;
  background: linear-gradient(331.35deg, #002A99 13.53%, #009ACC 87.41%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.side-profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ffffff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 3;
  background-color: #00071A;
}

.caret-icon {
  transition: transform 0.2s ease-in-out;
}

.caret-icon.rotate {
  transform: rotate(-90deg);
}

.profile-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 1rem;
  cursor: pointer;
}

.side-profile .avatar-image {
  display: flex;
  margin-right: .5rem;
  margin-bottom: .25rem;
  width: 3rem;
  border-radius: 50%;
}

.side-profile .username {
  flex-grow: 1;
}

.popup-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 12px;
  z-index: 2;
  margin: .25rem .5rem;
}

.popup-menu.shown {
  animation: show 200ms ease-in;
  animation-fill-mode: forwards;
}

.popup-menu.hidden {
  animation: hide 220ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(-0.25rem);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(-0.25rem);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
}
